
<%= form_for(book) do |f| %>
<div id="MyFile">
  <input id="file" name="file" size="30" type="file" /></br>
  <input type="text" id="title" name="title"></br>
  <input type="text" id="desc" name="desc"></br>
  <input type="text" id="no" name="no"></br>

  <input id="cover" name="cover" size="30" type="file" /></br>
</div>
<input type="submit" value="add" />
<input style="cursor:pointer" type="submit" value="upload"/>
<% end %>